<!DOCTYPE html>
<html lang="en" {{#if htmlclass}}class="{{htmlclass}}"{{/if}}>

<head>
	{{#block "head"}}
		{{#if title}}
			<title>{{title}} - {{data "project.title"}}</title>
			{{else if name}}
			<title>{{name}} - {{data "project.title"}}</title>
		{{else}}
			<title>{{data "project.title"}}</title>
		{{/if}}
		{{#each styles}}
			<link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/{{this}}.css">
		{{/each}}
	{{/block}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="{{@root.baseurl}}/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{@root.baseurl}}/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{@root.baseurl}}/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{@root.baseurl}}/favicons/manifest.json">
	<link rel="mask-icon" href="{{@root.baseurl}}/favicons/safari-pinned-tab.svg" color="#539aa3">
	<meta name="theme-color" content="#000000">
</head>

<body class="{{bodyclass}} katana">
	{{#block "body"}}
		{{#block "main"}}
		{{/block}}
	{{/block}}
	{{#block "foot"}}
	{{/block}}
	<script src="{{@root.baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
</body>

</html>
