---
name: Table item sorting
hidden: true
---

<td class="table-item-sorting {{table-item-sorting-class}}">
	<a href="{{table-item-sorting-id}}" class="table-item-sorting-btn" data-toggle="sort-asc" title="{{table-item-sorting-title}}">
		{{#embed "patterns.atom.icon.icon-pattern" icon-name="chevron-up"}}
		{{/embed}}
	</a>
	<a href="{{table-item-sorting-id}}" class="table-item-sorting-btn" data-toggle="sort-desc" title="{{table-item-sorting-title}}">
		{{#embed "patterns.atom.icon.icon-pattern" icon-name="chevron-down"}}
		{{/embed}}
	</a>
</td>
