<div class="drizzle-Swatch drizzle-Swatch--h{{@index}} {{swatch-class}}" style="background: {{color}}">
    <ul class="drizzle-u-listUnstyled detail-js">
      <li>{{color}}</li>
      {{#if property}}<li>{{property}}</li>{{/if}}
    </ul>
</div>
