---
title: Overview
order: 1
layout: master
---

<div class="drizzle-Grid">
   <div class="drizzle-Grid-cell drizzle-u-lg-size12of12">
       <div class="drizzle-Intro">
          {{> patterns.atom.logo.logo-pattern}}
        <h2 class="drizzle-u-padTop drizzle-u-padBottom">{{data "project.customer"}}  Pattern Library</h2>
        <span>version {{data "project.version"}}</span>
        </div>
   </div>
    <div class="drizzle-Grid-cell drizzle-u-lg-size6of12">
        <div class="drizzle-u-pad">
            <h2>Einführung</h2>
            <p>
              Auf dieser Webseite wird die Pattern Library für den Webshop Office Herz präsentiert. Mit dieser Applikation können modulare Prototypen für Web Applikationen erstellt und getestet werden.
              Sie bietet einen Zugang zu generellen CI-Elementen wie Farben, Schriften oder Icons und listet darüber hinaus die verwendeten Komponenten aus der die Web-Applikation besteht.
              Weiterhin können unter <a href="/demos/index.html" target="_blank">Demos</a> die erstellten Protoypen der einzelnen Ansichten der Webseite betrachtet und getestet werden.
            </p>

            <h2>Demos</h2>
            <p>
              Die Bereits erstellen Ansichten der Applikation sind in der <a href="/demos/index.html" target="_blank">Demo Übersicht</a> aufgelistet.
            </p>

            <h2>Resources</h2>
            <p>
              Weitere Brand-Assets können in der <a href="https://assets2.adobe.com/files?location=https%3A%2F%2Fcc-eu1-prod.adobesc.com%2Fapi%2Fv1%2Fcollections%2F5ae24223-3c5e-46b6-9b9e-c712ae6d259a" target="_blank">Adobe Cloud</a> eingesehen und heruntergeladen werden. <br />
            </p>
        </div>

    </div>
    <div class="drizzle-Grid-cell drizzle-u-lg-size6of12">
       <div class="drizzle-u-pad">
        <h2>Usage</h2>
        <p>
          The Katana Pattern Library provides css, java-script and html for elements and components. It could be used as an guidline to develope own components or it could be used as a UI Framework. In this case the css and java-script files have to be included in the dedicated application. By copy the html code from the compontent detailpage you get the compontent in the right style and behavior in your application.
        </p>
        <h3>CSS</h3>
        <code class="language-markup">{{data "project.url"}}/assets/toolkit/styles/toolkit.css</code>

        <h3>Java-Script</h3>
        <code class="language-markup">{{data "project.url"}}/assets/toolkit/scripts/toolkit.js</code>
        </div>
    </div>
</div>

{{!--
<hr />
<div class="drizzle-u-pad drizzle-u-rythm">
<h2 class="display-4">Atome</h2>
      {{#each (collections "atom")}}
	  <div style="margin-bottom: 40px;">
	  	<h3>{{this.name}}</h3>
         {{#each patterns}}
         <div style="margin-bottom: 10px;">
	 	      {{> drizzle.item-short}}
         </div>
	    {{/each}}
	    <a href="{{@root.baseurl}}/{{url}}">Details ansehen</a>
	  </div>
      {{/each}}

<hr />

<h2 class="display-4">Moleküle</h2>
      {{#each (collections "molecule")}}
	  <div style="margin-bottom: 40px;">
	  	<h3>{{this.name}}</h3>
         {{#each patterns}}
         <div style="margin-bottom: 10px;">
	 	      {{> drizzle.item-short}}
         </div>
	    {{/each}}
	    <a href="{{@root.baseurl}}/{{url}}">Details ansehen</a>
	  </div>
      {{/each}}

<hr />

<h2 class="display-4">Organismen</h2>
      {{#each (collections "organism")}}
	  	<div style="margin-bottom: 40px;">
	  	<h3>{{this.name}}</h3>
         {{#each patterns}}
		 <div style="margin-bottom: 10px;">
			 	{{> drizzle.item-short}}
		 </div>
	    {{/each}}
	    <a href="{{@root.baseurl}}/{{url}}">Details ansehen</a>
	  	</div>
      {{/each}}

</div>

--}}
