---
name: Gallery item
previewClass: col-12
hidden: true
---

<li class="gallery-item {{gallery-item-class}}">
	<a href="{{gallery-item-link}}" title="{{gallery-item-titel}}" data-original-resource="{{gallery-item-source}}" data-swipebox="">
		<div class="gallery-item-image">
			<img src="{{gallery-item-image}}">
		</div>
	</a>
</li>
